body
{
background-color:green;
}
.row1
{
background-color:yellow;
color:red;
font-size:22px;

}
#row2
{
background-color:pink;

font-size:22px;

}
.color{
color:red;
}
#row2 td a
{
color:red;
}
.scroll
{
overflow-x:scroll;
width:300px;
}
.col1
{
width:20%;
height:500px;
color:red;
background-color:orange;
font-size:20px;
}
.col2
{
width:20%;
color:green;
height:500px;
margin-left:20%;
margin-top:-500px;
background-color:violet;
text-align:center;
}
.col3
{
width:20%;
height:500px;
margin-top:-500px;
margin-left:40%;
color:blue;
background-color:pink;
}
.col4
{
width:20%;
height:500px;
margin-top:-500px;
margin-left:60%;
color:yellow;
background-color:brown;
}
.col5
{
width:20%;
height:500px;
margin-top:-500px;
margin-left:80%;
color:pink;
background-color:red;
text-align:center;
}
.col3 h1
{
padding-left:100px;
}
.col4 h1
{
padding-left:50px;
}
.btn
{
border-radius:10px;
border:1px solid red;
background-color:yellow;
}
.btn:hover
{
border-radius:10px;
border:1px solid yellow;
background-color:orange;
}
.class1
{
border-radius:20px;
border:solid brown;
background-color:pink;
}
.class1:hover
{
border-radius:20px;
border:solid blue;
background-color:violet;
}